%h1 Sign Up

- unless @user.errors.blank?
  .alert.alert-error
    %strong Oops!
    Some errors occurred.

-# %form.form-horizontal{:method => :post, :action => user_registration_path}
= form_tag(users_path, :method => :post, :multipart => true, :class => 'form-horizontal') do
  %fieldset
    = render :partial => 'users/form'
    .control-group{:class => (error_on(@user, :invite_code) ? 'error' :'')}
      = label_tag :invite_code, nil, :class => 'control-label'
      .controls
        = text_field_tag :invite_code, @user.invite_code
        - if error_on(@user, :invite_code)
          %span.help-inline
            = errors_for(@user, :invite_code)
    .control-group
      .controls
        = submit_tag "Sign up", :class => "btn btn-primary"
