.span3.link-preview
  .inner
    .title
      - if link.is_image?
        %p
          = link_to image_tag(link.image.url(:thumbnail)), link_path(link)
      - elsif link.is_video?
        - if link.image?
          .video
            %h3= link_to link.title, link_path(link)
            = link_to image_tag(link.image.url(:thumbnail)), link_path(link)
      - else
        %h3 #{link_to link.title, link_path(link)}

    .details
      = link_to image_tag(link.user.image, :class => 'small'), user_path(link.user)
      #{distance_of_time_in_words_to_now(link.created_at)} ago
      %i.icon-heart
      #{link.likes_count || 0}
      %i.icon-comment
      #{link.comments_count || 0}
      %br
      - if link.source.icon
        = image_tag link.source.icon
      #{link_to link.source.display_name, source_path(link.source)}
