- if current_user.show_welcome?
  #welcome.hero-unit
    %h1 Welcome!
    %p
      Sharing links is easy, just <strong>drag the button</strong> below on to your toolbar and click it when you're on a page you want to share.

    %br
    %p
      %a.btn.bookmarklet(href="javascript:location.href='#{links_add_url}?url='+encodeURIComponent(document.location.href)+'&title='+encodeURIComponent(document.title);")Share on linksapp
    #bookmarklet-help.alert.alert-error{:style => 'display:none'}
      %p
        You're an idiot. It clearly says <strong>drag</strong> the button, not click it. Or do you just click things without reading the instructions?
      %p
        %a#dont-click.btn Do not click this
    %br
    %p
      = link_to "OK, got it. Never show me this again.", no_welcome_path, :remote => true, :class => "btn btn-success", :id => 'ok'

- @links.each do |day, links|
  .day
    %h1
      = day.strftime("%A")
      %small= day.strftime("%e %b")
    .row
      .span12
        .row
          .span6
            .row
              - links[:article].each do |link|
                .span6.preview.article
                  .inner
                    %h4=link_to link.title, link_path(link)
                    .details
                      #{link_to(link.user.nickname, user_path(link.user))} shared this
                      #{distance_of_time_in_words_to_now(link.created_at)} ago
                      .likes
                        %i.icon-heart
                        #{link.likes_count || 0}
                        %i.icon-comment
                        #{link.comments_count || 0}
          .span6
            %ul.thumbnails
              - links[:media].each do |link|
                %li.span2
                  .thumbnail
                    - if link.is_video?
                      .video
                        %h4= link_to link.title, link_path(link)
                        = link_to image_tag(link.image.url(:thumbnail)), link_path(link)
                    - else
                      = link_to image_tag(link.image.url(:thumbnail)), link_path(link)

