- if current_user.show_welcome?
  #welcome.hero-unit
    %h1 Welcome!
    %p
      Sharing links is easy, just <strong>drag the button</strong> below on to your toolbar and click it when you're on a page you want to share.

    %br
    %p
      %a.btn.bookmarklet(href="javascript:function la(){ var d=document,s=d.createElement('scr'+'ipt'),b=d.body; try { if(!b)throw(0); s.setAttribute('src', '#{links_add_url}'); b.appendChild(s); } catch(e) { alert('You need to let the page load first'); } } la();")Share on linksapp
    #bookmarklet-help.alert.alert-error{:style => 'display:none'}
      %p
        You're an idiot. It clearly says <strong>drag</strong> the button, not click it. Or do you just click things without reading the instructions?
      %p
        %a#dont-click.btn Do not click this
    %br
    %p
      = link_to "OK, got it. Never show me this again.", no_welcome_path, :remote => true, :class => "btn btn-success", :id => 'ok'

- @links.each do |day, links|
  .day
    %h1
      = day.strftime("%A")
      %small= day.strftime("%e %b")
    - links.each do |link|
      .preview
        .submitter
          = image_tag link.user.avatar.url(:square)
        .details{:class => link.is_media? ? 'media' : ''}
          %h4
            = link_to link.title, link_path(link), :class => 'pjax'
          %div= link.source.display_name
          %div
            %span.reaction{:class => (link.likes_count > 0 ? 'some': '')}
              -# %i.icon-heart
              -# = link.likes_count
              = pluralize(link.likes_count, 'like')
            %span.reaction{:class => (link.comments_count > 0 ? 'some': '')}
              -# %i.icon-comment
              -# = link.comments_count
              = pluralize(link.comments_count, 'comment')
            %span.minor
              %span.timeago{:title => link.updated_at.to_time.iso8601}
        - if link.is_media?
          = link_to image_tag(link.image.url(:thumbnail), :class => 'media'), link_path(link), :class => 'pjax'

:javascript
  $($('.timeago').timeago());
