%h1
  = link_to @link.title, @link.url

- if @link.is_video?
  = @link.embed_code(:large)


%p
  = link_to @link.user.nickname, user_path(@link.user)
  shared this #{distance_of_time_in_words_to_now(@link.created_at)} ago

%p
  - if current_user == @link.user
    .btn.disabled Like it
  - elsif @link.liked_by?(current_user)
    .btn.success Liked
  - else
    .btn.primary Like it

  .btn.disabled Favourite it
  .btn.disabled Tweet it
  .btn.disabled Email it

- if @link.likes_count
  %h3 Likers
  %p
    - @link.likers.each do |liker|
      = image_tag liker.image


- if @link.source.links_count > 1
  %h3= link_to "#{pluralize(@link.source.links_count - 1, 'other link')} from #{@link.source.display_name}", source_path(@link.source)
