%h1 #{@link.title}
%h2= link_to @link.url, @link.url
%h3 Shared by #{@link.user.nickname}
%h3= link_to "More from #{@link.source.display_name}", source_path(@link.source)

%ul
  %li== tweet this link (attributed to #{@link.user.nickname})
  %li email this link
  %li save image to dropbox?!
  %li favourite this link
