%h1
  = link_to @link.title, @link.url

- if @link.is_video?
  = @link.embed_code(:large)


%p
  = link_to @link.user.nickname, user_path(@link.user)
  shared this #{distance_of_time_in_words_to_now(@link.created_at)} ago

%p

  %a{:href => "https://twitter.com/share?url=#{CGI.escape(@link.url)}&text=#{@link.title}&via=#{@link.user.nickname}&size=large", :class => "twitter-share-button", 'data-lang' => "en"}Tweet
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

%p
  - if current_user == @link.user
    %a.btn.disabled Like it
  - elsif @link.liked_by?(current_user)
    = link_to "Liked", link_like_path(@like), :remote => true, :class => "btn success", :id => 'like'
  - else
    = link_to "Like it", link_like_path(@like), :remote => true, :class => "btn", :id => 'like'

  :javascript
    $('a#like').click(function() {
      btn = $('a#like')
      btn.toggleClass('success');
      if(btn.html() === "Liked") {
        btn.html('Like it');
      } else {
        btn.html('Liked');
      }
    })

  %a.btn.disabled Favourite it
  %a.btn.disabled Email it
  %a.btn.disabled Instapaper it

#likers
  = render :partial => 'links/likers', :locals => {:link => @link}


- if @link.source.links_count > 1
  %h3= link_to "#{pluralize(@link.source.links_count - 1, 'other link')} from #{@link.source.display_name}", source_path(@link.source)
