.link
  .inner
    %h1
      = link_to @link.title, @link.url

    - if @link.is_video?
      = @link.embed_code(:large)

    - if @link.is_image?
      = image_tag(@link.image.url(:website_main))

    %p
      = link_to @link.user.nickname, user_path(@link.user), :class => 'pjax'
      shared this #{distance_of_time_in_words_to_now(@link.created_at)} ago
      from #{link_to(@link.source.display_name, source_path(@link.source), :class => 'pjax')}
      - if @link.source.links_count > 1
        ( #{pluralize(@link.source.links_count - 1, 'more link')} )

    %p
      - if @link.liked_by?(current_user)
        = link_to "Like", link_likes_path(@link), :remote => true, :method => :post, :class => "btn btn-success", :id => 'like'
      - else
        = link_to "Like", link_likes_path(@link), :remote => true, :method => :post, :class => "btn", :id => 'like'

      %a.btn.popup.btn-twitter{:href => @link.twitter_share_url_for(current_user)}
        = image_tag('bird_16_blue.png')
        Tweet
      = link_to "Instapaper", "http://www.instapaper.com/hello2?url=#{CGI.escape(@link.url)}&title=#{CGI.escape(@link.title)}", :class => "btn"
      -# %a.btn.disabled Favourite
      -# %a.btn.disabled Email

    #likers
      = render :partial => 'links/likers', :locals => {:link => @link}

    #comments
      = render @link.comments
    #new-comment-form
      = render :partial => 'comments/new', :locals => {:link => @link}
