%h1 #{@link.title}

- if @link.is_video?
  = @link.embed_code(:large)

%h2= link_to @link.url, @link.url
%h3 Shared by #{@link.user.nickname}
- if @link.source.links_count > 1
  %h3= link_to "#{pluralize(@link.source.links_count - 1, 'more link')} from #{@link.source.display_name}", source_path(@link.source)

%ul
  %li== tweet this link (attributed to #{@link.user.nickname})
  %li email this link
  %li save image to dropbox?!
  %li favourite this link
