%h1
  = link_to @link.title, @link.url

- if @link.is_video?
  = @link.embed_code(:large)


%p
  = link_to @link.user.nickname, user_path(@link.user)
  shared this #{distance_of_time_in_words_to_now(@link.created_at)} ago

%p
  - if current_user == @link.user
    %a.btn.disabled#like Like it
  - elsif @link.liked_by?(current_user)
    = link_to "Liked", link_like_path(@like), :remote => true, :class => "btn success", :id => 'like'
  - else
    = link_to "Like it", link_like_path(@like), :remote => true, :class => "btn", :id => 'like'

  :javascript
    $('a#like').click(function() {
      btn = $('a#like')
      btn.toggleClass('success');
      if(btn.html() === "Liked") {
        btn.html('Like it');
      } else {
        btn.html('Liked');
      }
    })

  %a.btn.disabled Favourite it
  %a.btn.disabled Tweet it
  %a.btn.disabled Email it

#likers
  = render :partial => 'links/likers', :locals => {:link => @link}


- if @link.source.links_count > 1
  %h3= link_to "#{pluralize(@link.source.links_count - 1, 'other link')} from #{@link.source.display_name}", source_path(@link.source)
