= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal signin'}) do |f|
  %fieldset
    .control-group
      = f.label :email
      .controls
        = f.email_field :email

    .control-group
      = f.label :password
      .controls
        = f.password_field :password

    -if devise_mapping.rememberable?
      .control-group
        = f.label :remember_me
        .controls
          = f.check_box :remember_me

    .control-group
      .controls
        = submit_tag "Sign in", :class => "btn btn-primary"

.alert.alert-info
  %h4.alert-heading Sign in using Twitter
  %p
    If you've linked your account all you need to do is press this button.
  %p
    %a{:href => '/auth/twitter?type=signin', :class => 'btn btn-twitter'}
      = image_tag('bird_16_blue.png')
      Sign in
