!!!
%html
  %head>
    %title> Linksapp
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          = link_to "linksapp", root_path, :class => 'brand'
          - if user_signed_in?
            %ul.nav
              %li
                %a{:href => '/#'} home
              %li
                = link_to 'links', links_path
              %li
                = link_to 'sources', sources_path
            %p.pull-right
              Logged in as #{current_user.nickname}
              = link_to "sign out", destroy_user_session_path, :method => :delete
    .container
      .content
        #alerts
          - if flash[:notice]
            .alert-message.info
              = flash[:notice]
          - if flash[:error]
            .alert-message.error
              = flash[:error]
        #main
          =yield
