!!!
%html
  %head>
    %title Linksapp
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")
  %body
    .navbar.navbar-fixed
      .navbar-inner
        .container
          = link_to "linksapp", root_path, :class => 'brand'
          - if user_signed_in?
            %ul.nav
              %li
                = link_to 'Links', links_path
              %li
                = link_to 'Sources', sources_path
            %ul.nav.pull-right
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
                  #{current_user.nickname}
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to "View profile", user_path(current_user)
                  %li= link_to "Settings (does nothing)", '#'
                  %li.divider
                  %li= link_to "Sign out", destroy_user_session_path, :method => :delete
    .container
      .content
        #alerts
          - if flash[:notice]
            .alert-message.info
              = flash[:notice]
          - if flash[:error]
            .alert-message.error
              = flash[:error]
        #main
          =yield

  :javascript
    $($('.dropdown-toggle').dropdown())
